<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li *ngFor="let f of frutas;let i = index" 
                (click)="cambiarFruta(i)"
                class="list-group-item {{(f.nombre===frutaSelec1.nombre||f.nombre===frutaSelec2.nombre)?'active':''}}">{{f.nombre | uppercase}}</li>         
        </ul>
    </div>
    <div class="col-3">
        <app-fruta [fruta]="frutaSelec1" [frutaComparar]="frutaSelec2"></app-fruta>
    </div><!---->
    <div class="col-3">
        <div class="card-body">
            <h5 class="card-title text-center">{{diferencia | number}}</h5>      
        </div>
    </div>
    <div class="col-3">
        <app-fruta [fruta]="frutaSelec2" [frutaComparar]="frutaSelec1"></app-fruta>
    </div>
</div>