// Estilos propios del componente juego

div {
  background: black;
  padding: 1em;

  span {
    font-size: 50px;
    display: block;
    text-align: center;
    font-family: arial;
    color: yellowgreen;
  }

  p {
    color: white;
    font-size: 24px;
  }
}
