body.fondo {
	background: url("../media/fondo.jpg") no-repeat center center;
	background-size: 115% 115%;
}
body.sinespacio{
  padding-top: 4.5rem;
}

.container {
	height: 91vh;
}
input[type="search" i] {
    padding: 1px;
    width: 115px;
    float:right;
}